In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/ranjitsah/Downloads/world-happiness-report-2019.csv',sep=',')

## extract()

In [24]:
df['first_five_Letter']=df['Country (region)'].str.extract(r'(^\w{5})')
df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,first_five_Letter
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,Finla
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,Denma
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,Norwa
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Icela
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,Nethe

## count()

In [4]:
S=pd.Series(['Finland','Colombia','Florida','Japan','Puerto Rico','Russia','france'])

S

0        Finland
1       Colombia
2        Florida
3          Japan
4    Puerto Rico
5         Russia
6         france
dtype: object

In [5]:
S[S.str.count(r"(^F.*)==1")]

0    Finland
0    Finland
0    Finland
0    Finland
0    Finland
0    Finland
0    Finland
dtype: object

In [6]:
S.str.count(r'(^F.*)').sum()

2

In [7]:
df[df['Country (region)'].str.count(r'(^[pP.*])')>0]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,first_five_Letter
30,Panama,31,121,7.0,48.0,41.0,32.0,104.0,88.0,51.0,33.0,NaN
39,Poland,40,28,76.0,33.0,44.0,52.0,108.0,77.0,41.0,36.0,NaN
62,Paraguay,63,90,1.0,39.0,30.0,34.0,76.0,67.0,90.0,81.0,NaN
64,Peru,65,114,36.0,127.0,77.0,61.0,132.0,126.0,76.0,47.0,NaN
65,Portugal,66,73,97.0,100.0,47.0,37.0,135.0,122.0,39.0,22.0,NaN
66,Pakistan,67,53,130.0,111.0,130.0,114.0,55.0,58.0,110.0,114.0,NaN
68,Philippines,69,119,42.0,116.0,75.0,15.0,49.0,115.0,97.0,99.0,NaN
109,Palestinian Territories,110,110,128.0,140.0,82.0,134.0,90.0,147.0,112.0,NaN,NaN

## match()

In [8]:
S[S.str.match(r'(^P.*)') == True]

4    Puerto Rico
dtype: object

## replace()

In [10]:
S_c=pd.Series(['Finland-1','Colombia-2','Florida-3','Japan-4','Puerto Rico-5','Russia-6','france-7'])

In [39]:
S_c.str.replace('([-\d])','',regex=True)

0        Finland
1       Colombia
2        Florida
3          Japan
4    Puerto Rico
5         Russia
6         france
dtype: object

In [21]:
S_c

0        Finland-1
1       Colombia-2
2        Florida-3
3          Japan-4
4    Puerto Rico-5
5         Russia-6
6         france-7
dtype: object

## findall()

In [33]:
 [item[0] for item in S.str.findall('^[fF].*') if len(item) > 0]

['Finland', 'Florida', 'france']

## contains()

In [38]:
S.str.contains('^F.*')

0     True
1    False
2     True
3    False
4    False
5    False
6    False
dtype: bool

In [41]:
df[df['Country (region)'].str.contains('^I.*') == True]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,first_five_Letter
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,Icela
12,Israel,13,14,104.0,69.0,38.0,93.0,74.0,24.0,31.0,11.0,Israe
15,Ireland,16,34,33.0,32.0,6.0,33.0,10.0,9.0,6.0,20.0,Irela
35,Italy,36,31,99.0,123.0,23.0,132.0,128.0,48.0,29.0,7.0,Italy
91,Indonesia,92,108,9.0,104.0,94.0,48.0,129.0,2.0,83.0,98.0,Indon
98,Ivory Coast,99,134,88.0,130.0,137.0,100.0,62.0,114.0,118.0,147.0,Ivory
116,Iran,117,109,109.0,150.0,134.0,117.0,44.0,28.0,54.0,77.0,NaN
125,Iraq,126,147,151.0,154.0,124.0,130.0,66.0,73.0,64.0,107.0,NaN
139,India,140,41,93.0,115.0,142.0,41.0,73.0,65.0,103.0,105.0,India

## split()

In [42]:
s = pd.Series(["StatueofLiberty built-on 28-Oct-1886"])

In [43]:
s

0    StatueofLiberty built-on 28-Oct-1886
dtype: object

In [46]:
s.str.split('s', n=-1, expand=True)

                                      0
0  StatueofLiberty built-on 28-Oct-1886