In [2]:
import pandas as pd

# observed results
Click = [42, 53, 21, 38, 45]

#Click = [14, 14, 14]
#Click = [0, 100, 980]

No_click = [10241, 2689, 2726, 3142, 2019]
observed = pd.DataFrame([Click, No_click],
                           columns = ["interact", "connect", "Learn", "Help", "services"],
                           index = ["Click", "No-click"])
observed

          interact  connect  Learn  Help  services
Click           42       53     21    38        45
No-click     10241     2689   2726  3142      2019

In [3]:
# expected results
exp_clicks = sum(Click)/3
exp_no_click = sum(No_click)/3

Click = [42, 53, 21, 38, 45]
No_click = [10241, 2689, 2726, 3142, 2019]
expected = pd.DataFrame([[exp_clicks, exp_clicks, exp_clicks, exp_clicks, exp_clicks], [exp_no_click, exp_no_click, exp_no_click, exp_clicks, exp_clicks]],
                           columns = ["interact", "connect", "Learn", "Help", "services"],
                           index = ["Click", "No-click"])
expected

             interact      connect        Learn       Help   services
Click       66.333333    66.333333    66.333333  66.333333  66.333333
No-click  6939.000000  6939.000000  6939.000000  66.333333  66.333333

In [4]:
observed - expected

             interact      connect        Learn         Help     services
Click      -24.333333   -13.333333   -45.333333   -28.333333   -21.333333
No-click  3302.000000 -4250.000000 -4213.000000  3075.666667  1952.666667

In [5]:
# Pearson Residual
import numpy as np
def pearson_residuals(obs, exp):
    return (obs - exp) / (np.sqrt(exp))

R = pearson_residuals(observed, expected)
R

           interact    connect      Learn        Help    services
Click     -2.987691  -1.637091  -5.566109   -3.478818   -2.619346
No-click  39.639542 -51.020004 -50.575830  377.635971  239.751980

In [7]:
R = R**2
chi2observed = R.interact.sum() + R.connect.sum() + R.Learn.sum() + R.Help.sum() + R.services.sum()
chi2observed

23657161519.793934

In [9]:
Click

[42, 53, 21, 38, 45]

In [10]:
No_click

[10241, 2689, 2726, 3142, 2019]

In [11]:
from scipy import stats
chisq, pvalue, df, expected = stats.chi2_contingency(observed)

In [16]:
chisq

96.7432353798328

In [17]:
 pvalue

4.852334301093838e-20