# Intro to web scraping

Documentation for this workshop: 
* https://www.w3schools.com/cssref/css_selectors.asp
* https://www.crummy.com/software/BeautifulSoup/bs4/doc/#
* https://flukeout.github.io/

The first step of web scraping is to identify a website and download the html code from it. 

Real html from websites tends to be long and a bit too chaotic for a total beginner. Here we will start with a dummy html document and learn the basics of extracting info with beautifulsoup.

In [1]:
html_doc = """
<!DOCTYPE html>
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
</html>
"""

In [2]:
html_doc

'\n<!DOCTYPE html>\n<html><head><title>The Dormouse\'s story</title></head>\n<body>\n<p class="title"><b>The Dormouse\'s story</b></p>\n\n<p class="story">Once upon a time there were three little sisters; and their names were\n<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,\n<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and\n<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;\nand they lived at the bottom of a well.</p>\n\n<p class="story">...</p>\n</html>\n'

In [3]:
from bs4 import BeautifulSoup

#### "creating the soup"

In [4]:
# parse the element
soup = BeautifulSoup(html_doc, 'html.parser')

In [5]:
soup.prettify

<bound method Tag.prettify of
<!DOCTYPE html>

<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
</body></html>
>

#### accessing single elements

In [17]:
soup.title

In [15]:
soup.title.string

"The Dormouse's story"

In [18]:
soup.title.parent.name

'head'

In [25]:
soup.body

<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
</body>

In [29]:
# this method only retrieves the first element of the specified tag
soup.p

#### finding all elements of a tag with find_all()

In [37]:
p_tags = soup.find_all("p")

In [38]:
for p in p_tags:
    print(p.get_text())

The Dormouse's story
Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

#### Using css selectors

Let's learn first the syntax of css selectors playing this game: https://flukeout.github.io/

Everyone should reach level 12!

In [44]:
soup.select('a')[1].get_text()

'Lacie'

In [41]:
soup

<!DOCTYPE html>

<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
</body></html>

In [45]:
soup.select("a")

for a in soup.select('a'):
    print(a.get_text())

Elsie
Lacie
Tillie

In [46]:
soup.select(".title")

In [47]:
soup.select("#link2")

In [48]:
soup.select('#link2')

In [49]:
soup.select(".sister")

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

We can combine the `select()` method with other bs4 methods, such as `get_text()`.

`get_text()`, however, can only be applied to single elements, while `select()` might return multiple elements. It's common to iterate through the output of `select()`

In [52]:
print(soup.select("p.story")[0].get_text())

Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.

In [53]:
for p in soup.select("p.story"):
    print(p.get_text())

Once upon a time there were three little sisters; and their names were
Elsie,
Lacie and
Tillie;
and they lived at the bottom of a well.
...

### Your turn:

Write code to print the following contents (not including the html tags, only human-readable text): 

1. All the "fun facts". 

2. The names of all the places. 

3. The content (name and fact) of all the cities (only cities, not countries!) 

4. The names (not facts!) of all the cities (not countries!)

In [54]:
geography = """
<!DOCTYPE html>
<html>
<head> Geography</head>
<body>

<div class="city">
  <h2>London</h2>
  <p>London is the most popular tourist destination in the world.</p>
</div>

<div class="city">
  <h2>Paris</h2>
  <p>Paris was originally a Roman City called Lutetia.</p>
</div>

<div class="country">
  <h2>Spain</h2>
  <p>Spain produces 43,8% of all the world's Olive Oil.</p>
</div>

</body>
</html>
"""

In [55]:
soup = BeautifulSoup(geography, 'html.parser')

print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  Geography
 </head>
 <body>
  <div class="city">
   <h2>
    London
   </h2>
   <p>
    London is the most popular tourist destination in the world.
   </p>
  </div>
  <div class="city">
   <h2>
    Paris
   </h2>
   <p>
    Paris was originally a Roman City called Lutetia.
   </p>
  </div>
  <div class="country">
   <h2>
    Spain
   </h2>
   <p>
    Spain produces 43,8% of all the world's Olive Oil.
   </p>
  </div>
 </body>
</html>

In [56]:
# 1. All the "fun facts"
for i in soup.find_all("p"):
    print(i.get_text())

London is the most popular tourist destination in the world.
Paris was originally a Roman City called Lutetia.
Spain produces 43,8% of all the world's Olive Oil.

In [57]:
# 2. The names of all the places.
for i in soup.find_all("h2"):
    print(i.get_text())

London
Paris
Spain

In [58]:
# 3. All the content (name and fact) of all the cities (only cities, not countries!)
for i in soup.find_all("div", {"class":"city"}):
    print(i.get_text())

London
London is the most popular tourist destination in the world.


Paris
Paris was originally a Roman City called Lutetia.

In [59]:
# 4. The names (not facts!) of all the cities (not countries!)
for i in soup.find_all("div", {"class":"city"}):
    print(i.h2.get_text())

London
Paris

## Use case: imdb top charts

Let's go to https://www.imdb.com/chart/top, where we'll see the top 250 movies according to IMDb ratings.

Notice how each movie has the following elements:

- Title

- Release Year

- IMDb rating

- Director & main stars (they appear when you hover over the title)

Our objective is going to be to scrape this information and store it in a pandas dataframe.

In [60]:
# 1. import libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [61]:
# 2. find url and store it in a variable
url = "https://www.imdb.com/chart/top"

In [62]:
# 3. download html with a get request
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [63]:
# 4.1. parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")
# 4.2. check that the html code looks like it should
# soup

In [64]:
# 5. retrieve/extract the desired info (here, you'll paste the "Selector" you copied before to get the element that belongs to the top movie)

soup.select("#main > div > span > div > div > div.lister > table > tbody > tr:nth-child(1) > td.titleColumn > a")[0].get_text()

'Die Verurteilten'

This long selector we copied is kind of long and ugly, isn't it? And it only selects one single movie, while we will want to collect data from all of them. Going from that particular selector to one that's more "general" and "elegant" is the actual work the web scraper needs to do.

In this case, we can play around a bit with different tags and classes, until we notice that all the information about the movies is under the tag <td class="titleColumn">. We're lucky that under this tag there's not much "trash", just the info we need.

In [66]:
#soup.select("td.titleColumn") # all the info about all the movies

In [67]:
#soup.select("td.titleColumn a") # all elements containing movie titles

In [68]:
# we can use .get_text() to extract the content of the tags we selected
# we'll need to do it to each tag with a for loop: here we do it to the first one
soup.select("td.titleColumn a")[0]
soup.select("td.titleColumn a")[0].get_text()

'Die Verurteilten'

In [69]:
# the director and main stars are in the same tag, but as a value of the attribute "title"
# we can access attributes as key-value pairs of dictionaries: using ["key"] to get the value:
soup.select("td.titleColumn a")[0]["title"] 

# instead of ["title"] we could use .get("title"): choose whatever you prefer

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [70]:
# the years are inside a 'span' tag with the 'secondaryInfo' class
# we also specify the parent tag and its class, which is the same we used before
# the years are inside parentheses, but we'll take care of that later
soup.select("td.titleColumn span.secondaryInfo")[0].get_text()

'(1994)'

#### Building the dataframe

In [71]:
#initialize empty lists
title = []
dir_stars = []
year = []

In [73]:
# define the number of iterations of our for loop 
# by checking how many elements are in the retrieved result set
# (this is equivalent but more robust than just explicitly defining 250 iterations)
num_iter = len(soup.select("td.titleColumn a"))

In [74]:
# iterate through the result set and retrive all the data
for i in range(num_iter):
    title.append(soup.select("td.titleColumn a")[i].get_text())
    dir_stars.append(soup.select("td.titleColumn a")[i]["title"])
    year.append(soup.select("td.titleColumn span.secondaryInfo")[i].get_text())

In [75]:
#print(title)

In [76]:
#print(dir_stars)

In [77]:
#print(year)

In [78]:
# each list becomes a column
movies = pd.DataFrame({"title":title,
                       "dir_stars":dir_stars,
                       "year":year
                      })

movies.head()

,title,dir_stars,year
0,Die Verurteilten,"Frank Darabont (dir.), Tim Robbins, Morgan Fre...",(1994)
1,Der Pate,"Francis Ford Coppola (dir.), Marlon Brando, Al...",(1972)
2,Der Pate 2,"Francis Ford Coppola (dir.), Al Pacino, Robert...",(1974)
3,The Dark Knight,"Christopher Nolan (dir.), Christian Bale, Heat...",(2008)
4,Die zwölf Geschworenen,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb",(1957)

#### Cleaning the data

An inherent part of web scraping is data cleaning. We managed to get the information we needed, but for it to be useful, we still need some extra steps:

- Take the year out of the parentheses: we know we can totally do that with regex, but string methods such as str.replace() might be simpler to use.

- Change the data type of the year column to integer.

- Split dir_stars into 3 columns, one for each person: "director", "star_1", "star_2". This could have been done by filtering when extracting the data from the html document, but it looks easier afterwards:

    - The "(dir.)" pattern can be totally removed
    - We can split the string at each comma

In [80]:
director = []
star_1 = []
star_2 = []

for movie in dir_stars:
    crew = movie.split(",")
    director.append(crew[0].replace(" (dir.)", ""))
    star_1.append(crew[1])
    star_2.append(crew[2])

# each list becomes a column
movies = pd.DataFrame({"title":title,
                       "director":director,
                       "star_1":star_1,
                       "star_2":star_2
                      })

movies

,title,director,star_1,star_2
0,Die Verurteilten,Frank Darabont,Tim Robbins,Morgan Freeman
1,Der Pate,Francis Ford Coppola,Marlon Brando,Al Pacino
2,Der Pate 2,Francis Ford Coppola,Al Pacino,Robert De Niro
3,The Dark Knight,Christopher Nolan,Christian Bale,Heath Ledger
4,Die zwölf Geschworenen,Sidney Lumet,Henry Fonda,Lee J. Cobb
...,...,...,...,...
245,Neon Genesis Evangelion - The End of Evangelion,Hideaki Anno,Megumi Ogata,Megumi Hayashibara
246,Die Nächte der Cabiria,Federico Fellini,Giulietta Masina,François Périer
247,Die Braut des Prinzen,Rob Reiner,Cary Elwes,Mandy Patinkin
248,"Paris, Texas",Wim Wenders,Harry Dean Stanton,Nastassja Kinski
249,Sardar Udham,Shoojit Sircar,Vicky Kaushal,Banita Sandhu